<div class="group relative">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
    <% if event.poster_image.attached? %>
      <%= image_tag event.poster_image, class: "h-full w-full object-cover object-center lg:h-full lg:w-full" %>
    <% end %>
  </div>
  <div class="mt-4">
    <h3 class="font-semibold text-gray-900">
      <%= link_to event_path(event), class: "hover:underline" do %>
        <span aria-hidden="true" class="absolute inset-0"></span>
        <%= event.title.titleize %>
      <% end %>
    </h3>
    <div class="flex flex-row mt-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="grey" style="width: 16px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
      </svg>
      <p class="text-sm text-gray-500 ml-2"><%= local_time(event.start_time, '%a, %b %d - %H:%M %Z') %></p>  
    </div>

    <div class="flex flex-row mt-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="grey" style="width: 16px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
      </svg>
      <p class="text-sm text-gray-500 ml-2"><%= event.venue.name %></p>
    </div>

    <div class="flex flex-row mt-1">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" style="width: 16px;">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
      </svg>
      <p class="text-sm text-gray-500 ml-2"><%= event.category.name %></p>
    </div>

    <div class="mt-1">
      <% case event.booking_status %>
      <% when :upcoming %>
        <p class="text-sm text-gray-500">Bookings open: <%= local_time(event.booking_start_time, '%b %d - %H:%M %Z') %></p>
      <% when :sold_out %>
        <p class="text-sm text-gray-500 text-red-500">Sold Out</p>
      <% when :open %>
        <p class="text-sm text-gray-500 text-green-500">Bookings Open</p>
      <% else %>
        <p class="text-sm text-gray-500 text-red-500">Bookings Closed</p>
      <% end %>
    </div>
  </div>
</div>
