<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl p-2 flex justify-between">
    <%= link_to root_path do %>
      <div class="flex space-x-2">
        <%= image_tag "logo.png", class: "h-8 w-auto" %>
        <span class="text-xl font-semibold text-white px-3 py-2">Booking Gigs</span>
      </div>
    <% end %>
    <div class="flex space-x-4">
        <%= link_to "All Gigs", events_path, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <%= link_to "My Gigs", events_path(host_id: current_user.id), class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
        <%= link_to "My Bookings", bookings_path, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
    </div>
    <div class="flex space-x-4">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" %>
      <% end %>
    </div>
  </div>
</nav>
